.header {
    margin-left: 2%;
}

#citation {
    margin-left: 3%;
}

.text-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 70%;
    height: 40%;
}